@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Akaya Telivigala", cursive;
}

body {
  width: 100vw;
  height: 100vh;
  font-weight: 400;
  background: #24a77f;
  position: relative;
  overflow: hidden;
}

body img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  width: 30%;
  bottom: 0;
  right: -3%;
  border-top-left-radius: 100px;
  -webkit-box-shadow: 0 3px 20px rgba(128, 128, 128, 0.3);
          box-shadow: 0 3px 20px rgba(128, 128, 128, 0.3);
  border-radius: 45% 55% 76% 24% / 54% 87% 13% 46%;
}

body header {
  width: 100%;
  height: 50px;
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-shadow: 0 3px 20px rgba(128, 128, 128, 0.3);
          box-shadow: 0 3px 20px rgba(128, 128, 128, 0.3);
}

body header h1 {
  height: 100%;
  cursor: pointer;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
}

body header .btn_group {
  width: 20%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .btn_group button {
  width: calc(100% / 2.2);
  height: 60%;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

body .form {
  width: 100%;
  height: calc(100% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

body .form .din {
  display: none;
  pointer-events: none;
  opacity: 0;
}

body .form .side {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
}

body .form .side .correct {
  border-bottom: 1px solid #000;
}

body .form .side .correct #score {
  display: none;
  pointer-events: none;
}

body .form .side .correct p {
  width: 100%;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}

body .form .side .correct .option {
  margin-top: 5px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .form .side .correct .option label {
  width: calc(100% / 2.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 400;
  padding: 5px;
  margin: 5px;
}

body .form .side .correct .option label input {
  margin-right: 10px;
}

body .form .side .correct button {
  display: none;
  pointer-events: none;
}

body .form .side .correct h3 {
  font-weight: 400;
  width: 100%;
  padding: 0 10px;
  margin: 5px 0;
}

body .form .box {
  width: 35%;
  height: 70%;
  border-radius: 7px;
  background: #fff;
  -webkit-box-shadow: 0 5px 10px rgba(128, 128, 128, 0.3);
          box-shadow: 0 5px 10px rgba(128, 128, 128, 0.3);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body .form .box .din {
  display: none;
  opacity: 0;
  pointer-events: none;
}

body .form .box #score {
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  -webkit-box-shadow: 0 5px 10px rgba(128, 128, 128, 0.3);
          box-shadow: 0 5px 10px rgba(128, 128, 128, 0.3);
  position: absolute;
  font-size: 25px;
  left: 0;
  bottom: 0;
  background: #fff;
}

body .form .box #score h3 {
  font-size: 30px;
  font-weight: 400;
}

body .form .box #score h4 {
  font-weight: 400;
}

body .form .box #score button {
  outline: none;
  padding: 5px;
  cursor: pointer;
  font-size: 20px;
}

body .form .box p {
  width: 100%;
  height: auto;
  color: #fff;
  text-shadow: 0 5px 3px rgba(128, 128, 128, 0.8);
  padding: 15px 0;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2bcdb7;
  -webkit-box-shadow: 0 5px 20px rgba(128, 128, 128, 0.3);
          box-shadow: 0 5px 20px rgba(128, 128, 128, 0.3);
}

body .form .box .option {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .form .box .option label {
  min-width: calc(100% / 2.5);
  padding: 10px 20px;
  margin: 10px;
  background: #a9ff00;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(128, 128, 128, 0.5);
          box-shadow: 0 5px 10px rgba(128, 128, 128, 0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .form .box .option label input {
  margin-right: 10px;
}

body .form .box .option label h3 {
  font-style: 25px;
  font-weight: 500;
}

body .form .box button {
  margin-top: 30px;
  width: 30%;
  padding: 10px 0;
  cursor: pointer;
  outline: none;
  font-size: 18px;
  background: #26c6da;
  border-radius: 30px;
}
/*# sourceMappingURL=index.css.map */